* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margin */
}

:root {
  --bg-color: #202020;
}

html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: black;
}

h1, h2, h3, h4, h5 {
  color: #fff;
}

p, li, a, button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #2e86c1;
}

button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  margin-top: 1.6rem;
}

/* Layout */
.container {
  max-width: 140rem;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* about section */
.about-section {
  padding: 4rem 0;
  text-align: center;
  background-color: black;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #d3d3d3, #d3d3d3);
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 2s ease-in-out;
}

.search-input {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 1s ease-in-out;
}

.country-card {
  background-color: #3a3a3a;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
  padding: 2rem;
  color: white;
  text-align: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.country-card.hovered {
  background-color: #5a5a5a;
  transform: scale(1.05);
  box-shadow: 0 20px 30px rgba(211, 211, 211, 0.3);
}

.card-content {
  background: #3a3a3a;
  padding: 1.5rem;
  border-radius: 10px;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #d3d3d3;
}

.card-description {
  color: #d3d3d3;
  font-weight: bold;
}



/* Layout header */
/* Basic Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styling */
.header {
  background-color: #333;
  padding: 1rem 0;
  position: relative;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle:focus {
  outline: none;
}

/* Nav Links */
.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #ff7e5f;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .nav {
      display: none;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #333;
      flex-direction: column;
      width: 200px;
      border-radius: 5px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .nav.open {
      display: flex;
  }

  .nav-links {
      flex-direction: column;
  }

  .nav-item {
      padding: 1rem;
      text-align: center;
      width: 100%;
      margin: 0;
  }

  .nav-item:hover {
      background-color: #444;
      border-radius: 5px;
  }
}

/* Tablet and Small Desktops */
@media (max-width: 1024px) {
  .nav-item {
      margin: 0 10px;
      font-size: 0.9rem;
  }
}


/* Country Section */
.country-section {
  padding: 20px;
  background-color: #202020;
  color: white;
}

/* Search and Sort Controls */
.search-sort-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input,
.sort-dropdown,
.page-size-dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #303030;
  color: white;
}

/* Country Card */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.country-card {
  background-color: #303030;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.country-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.country-flag {
  width: 100%;
  border-radius: 8px;
}

.country-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.country-population,
.country-region,
.country-capital {
  margin: 5px 0;
}

/* Pagination Controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  background-color: #505050;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination-btn:hover {
  background-color: #ff7e5f;
}

.pagination-btn.active {
  background-color: #ff7e5f;
  color: #202020;
}

/* Loader */
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

/* Footer Section */

html, body {
  height: 100%; /* Ensure body takes full height */
  margin: 0; /* Remove default margin */
}

body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

.container {
  flex: 1; /* Allow container to grow and fill available space */
}

.footer-container {
  background: #333333;
  padding: 1rem; /* Adjust padding for spacing */
  text-align: center;
  color: #ffffff;
  animation: fadeInUp 1.5s ease-in-out;
}

.footer-text {
  font-size: 1rem;
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.icon-link {
  margin: 0 0.5rem;
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
}

.icon-link:hover {
  color: #ff7e5f; /* Change color on hover */
  transform: scale(1.2); /* Scale effect on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .icon-link {
      font-size: 20px; /* Adjust icon size for smaller screens */
  }

  .footer-text {
      font-size: 0.9rem; /* Adjust text size for smaller screens */
  }
}

/* contact section */

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-color: black;
  min-height: 100vh;
}

.contact-title {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.contact-subtitle {
  font-size: 1.2rem;
  color: #dcdcdc;
  margin-bottom: 2rem;
  max-width: 600px;
  text-align: center;
}

.contact-button {
  padding: 0.75rem 2rem;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(45deg, #ff7e5f, #feb47b);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.2);
}

.contact-footer {
  background-color: #333333;
  padding: 1.5rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
